.LoginContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.SignUpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.Logo {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}

.Background {
  background-image: url("../images/MaMo.png");
  background-color: #ff7f50;
}

.Card {
  position: relative;
  display: flex;
  padding: 2.5%;
  flex-direction: column;
  border-radius: 16px;
  background-color: whitesmoke;
  align-items: center;
  width: 27%;
  height: auto;
}

.Title {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}

#signUp {
  display: flex;
  color: #ff7f50;
  cursor: pointer;
  margin-left: 5px;
}

#signUp:hover {
  text-decoration: underline;
  text-decoration-color: #ff7f50;
}

.invalidContentMessage {
  color: #d9212c;
  font-size: small;
  margin-top: 5%;
}

.InputForms > input {
  margin-top: 15px;
  display: flex;
  font-size: x-large;
  width: -webkit-fill-available;
}

.InvalidInput {
  border: 1px solid #d9212c;
  border-radius: 4px;
  box-shadow: 0 0 0 3.2px rgba(217, 33, 44, 0.25);
  background-color: rgba(217, 33, 44, 0.1);
}

.InvalidInput:focus {
  outline: none !important;
}

.InputLabels {
}

.Card > input[type="button"] {
  padding: 0px;
  padding: 2%;
  text-align: center;
  align-items: center;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: #ff7f50;
  cursor: pointer;
  margin-top: 1%;
}

.Card > input[type="button"]:hover {
  background-color: rgba(255, 127, 80, 0.8);
}
